<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <display-name>hibernate-learn-demo</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <!--<welcome-file>index.jsp</welcome-file>-->
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>

    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>com.eagle.servlet.filter.GenericEncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- 客户信息管理 -->
    <servlet>
        <servlet-name>customerServlet</servlet-name>
        <servlet-class>com.eagle.servlet.CustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>customerServlet</servlet-name>
        <url-pattern>/customer</url-pattern>
    </servlet-mapping>

    <!-- 联系人管理 -->
    <servlet>
        <servlet-name>linkManServlet</servlet-name>
        <servlet-class>com.eagle.servlet.LinkManServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>linkManServlet</servlet-name>
        <url-pattern>/linkMan</url-pattern>
    </servlet-mapping>

</web-app>