<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- 配置方言 -->
        <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <!-- 设置数据库的隔离级别，使用默认值就ok -->
        <property name="hibernate.connection.isolation">4</property>
        <!-- 开启绑定本地的session -->
        <property name="hibernate.current_session_context_class">thread</property>


        <property name="connection.url">jdbc:mysql://118.24.153.54:3306/dev_test?useUnicode=true&amp;characterEncoding=UTF-8</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">123456</property>
        <!-- 显示SQL语句，在控制台显示 -->
        <!--<property name="hibernate.show_sql">true</property>-->
        <!-- 格式化SQL语句 -->
        <!--<property name="hibernate.format_sql">true</property>-->


        <!-- 加载映射文件 -->
        <mapping resource="com/eagle/entity/CstCustomerEntity.hbm.xml"/>
        <mapping class="com.eagle.entity.CstCustomerEntity"/>
        <mapping resource="com/eagle/entity/CstLinkmanEntity.hbm.xml"/>
        <mapping class="com.eagle.entity.CstLinkmanEntity"/>


        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->

    </session-factory>
</hibernate-configuration>